GOOGLE_MERCHANT_ID=
GOOGLE_MERCHANT_CLIENT_EMAIL=
GOOGLE_MERCHANT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_MERCHANT_TARGET_COUNTRY=IN
GOOGLE_MERCHANT_CONTENT_LANGUAGE=en
GOOGLE_MERCHANT_CURRENCY=INR
GOOGLE_MERCHANT_CHANNEL=online
GOOGLE_MERCHANT_BRAND=Ilika
SITE_URL=https://ilika.in

# Optional:
# Enable delete sync on Firestore document delete.
GOOGLE_MERCHANT_SYNC_DELETE=false
