@import "tailwindcss";

/* BRAND TYPOGRAPHY */

.font-brand {
  font-family: "Playfair Display", serif;
}
.font-luxury {
  font-family: "Cormorant Garamond", serif;
}

.font-clean {
  font-family: "Inter", sans-serif;
}

.primary-bg-color{
    /* background-color: #FFF4EF; */
    background-color: #ffffff;
}

.secondary-bg-color{
    background-color: #F4E5E5;
}

.button-bg-color{
    background-color: #E8ADAD;
}

.category-bg-color{
    background-color: #a21d1d33;
}

.divider-bg-color{
    background: #C6F3D2;
}

.MiniDivider-bg-color{
    background-color: #a21d1d2b;
}

.heading-color{
    color:#b34140;
}

.heading-2-color{
    color: #1C371C;
    text-decoration: solid;
    font-size: 18px
}

.content-text{
    color: #1C371C;
}



/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* global.css */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { scrollbar-width: none; }


.prose h1 { font-size: 1.6rem; font-weight: 600; margin: 12px 0; }
.prose h2 { font-size: 1.4rem; font-weight: 600; margin: 10px 0; }
.prose h3 { font-size: 1.2rem; font-weight: 600; margin: 8px 0; }

.prose ul { list-style: disc; padding-left: 20px; margin: 8px 0; }
.prose ol { list-style: decimal; padding-left: 20px; margin: 8px 0; }

.prose blockquote {
  border-left: 4px solid #E7A6A1;
  padding-left: 12px;
  margin: 10px 0;
  color: #555;
}

.prose hr {
  margin: 16px 0;
  border-top: 1px solid #ddd;
}

