@import "tailwindcss";

.primary-bg-color{
    background-color: #FFF4EF;
}

.secondary-bg-color{
    background-color: #F4E5E5;
}

.button-bg-color{
    background-color: #E8ADAD;
}

.category-bg-color{
    background-color: #a21d1d33;
}

.divider-bg-color{
    background: #C6F3D2;
}

.MiniDivider-bg-color{
    background-color: #a21d1d2b;
}

.heading-color{
    color:#A21D1D;
}

.heading-2-color{
    color: #1C371C;
    text-decoration: solid;
    font-size: 18px
}

.content-text{
    color: #1C371C;
}



/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.quill-content h1 { font-size: 1.5rem; font-weight: 600; margin: 12px 0; }
.quill-content h2 { font-size: 1.3rem; font-weight: 600; margin: 10px 0; }
.quill-content h3 { font-size: 1.1rem; font-weight: 600; margin: 8px 0; }

.quill-content ul { list-style: disc; padding-left: 20px; margin: 8px 0; }
.quill-content ol { list-style: decimal; padding-left: 20px; margin: 8px 0; }

.quill-content strong { font-weight: 600; }
.quill-content a { color: #1C371C; text-decoration: underline; }
.quill-content p { margin: 6px 0; }
